<div class="about">
	<h1>About</h1>
	<p>The blog that's the reason you can no longer afford that house payment.<br />These are my ramblings on all things that involving music, retro gaming, long-distance running, home-brewing, and anything else that strikes my interest.</p>
</div>