<div class="card mb-4">
	<div class="welcome">
	  <h1>Welcome to</h1>
	  <div class="landing-page img-responsive">
	    <%= image_tag 'avocado_toast.jpg', class: "landing-page-img img-responsive" %>
	  </div> <!-- /Project name -->
	  <subheader><h3>The blog that's the reason you can't afford a mortgage payment.</h3></subheader>
	</div> <!-- /Welcome -->
</div>
