<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your message! We will respond shortly. In the meantime, please feel free to checkout a few more of our awesome blogs.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->