<div>
	<div class="col-lg-8 col-md-6 col-sm-12">
	  <div class="post_wrapper">
	    <%= image_tag(post.image_url, class: "img-responsive post-images") %>
	    <h2 class="name"><%= link_to post.name, post %></h2>
	    <h3 class="description"><%= link_to post.description, post %> </h3>
	    <!-- Add Created By User here in future roll out -->
	    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
	    <hr>
	  </div> <!-- /Post wrapper -->
	</div> <!-- /Cols -->
</div>