<%= link_to 'New Post', new_post_path %>

<div class="content">
  <div class="container-fluid">
    <div class="row" id="posts-index">
      <% @posts.each do |post| %>
        <%= render @posts %>
      <% end %>
    </div> <!-- /Row -->
  </div> <!-- /Container-fluid -->
</div>



