<%= render "new_post_button" %>
<hr />

<div class="card mb-4">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div> <!-- /Card -->

<%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: "pagination" %>


			




