<%= render "new_post_button" %>

<hr />

<div class="content">
  <div class="container-fluid">
    <div class="row" id="posts-index">
      <% @posts.each do |post| %>
        <%= render post %>
	    <% end %>
    </div> <!-- /Row -->
  </div> <!-- /Container-fluid -->
</div> <!-- /Content -->




