// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// Body styling
body {
	padding-top: 80px;
	padding-bottom: 64.5px;
	font-family: 'Josefin Sans', sans-serif;

}



// Navigation styling
.navbar {
	z-index: 100;
	background-color: #B9F06B;
	position: fixed;
	width: 100%;
	top: 0;

	.title {
		color: #lightgray;
		padding-left: 1em;
	}

	a:link, a:visited {
    color: #333;
	}

	ul {
		float: right;	
		padding-right: 15px;
	}
}



// Sidebar styling
#sidebar {

	li {
		padding: 0 .5em;	
		font-size: 1.25em;
	}

	a {	
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: .05em;
	}

	a:hover {
		color: lightgreen;
		text-decoration: none;
		transition: color 800ms;
		-webkit-transition: color 600ms; // Needed for Safari to read styling
	}

	.search-bar {
		width: 90%;
	}
}	



// Posts index styling
.post-index-content {

	.post-images {
		max-height: 15em;
	}
}



// Pagination
.pagination {
	padding-left: 2em;
}



// Footer styling
.footer {
	border-top: solid 1px black;
	background-color: #B9F06B;
	width: 100%;
	position: relative;
	bottom: -200px;
	z-index: 100;
	;

	.copyright {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		letter-spacing: .05em;
		color: #lightgray;
		padding: .7em;
	}
}



// Vote button styling
.btn-vote {
	min-width: 100px;
}



// TEST CODE
//@media (max-width: 480px) {
//  body {
//    background-color: red;
//  }
//}